* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial';
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.c{
    display: grid;
    height: 80vh;
    width: 80vw;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.box {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
.red {
    background-color: #E74C3C;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.purple {
    background-color: #9B59B6;
    grid-row: 1/3;
}
.beige {
    background-color: #FAD7A0;
    color: #000;
    text-align: center;
}
.green {
    background-color: #2ECC71;
    color: #000;
    grid-column: 1 / 3;
}
.black {
    background-color: #000;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: 'Cursive', sans-serif;
    font-size: 2em;
    font-style: italic;
}
.icon {
    font-size: 2em;
}